# OS / Editor
.DS_Store
Thumbs.db
.vscode/
*.swp

# Logs / temp
*.log
*.tmp

# Build artifacts
*.out
*.exe
*.o

# Testing Files
recon/
findings/
parse/

# Node / Python / Go artifacts
node_modules/
__pycache__/
build/